.random-planet {
    width: 100%;
    display: flex;
    margin: 20px 0 20px 0;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 100%;
    display: flex;
}

.planet-img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.badge-dark {
    color: rgb(0, 188, 140);
    background: hsl(0, 0%, 13%);
}